/* Center allignment */
h1 {
    text-align: center;
    position: static;
}
/* use of element selector and hex code color */
h2 {
    color: #6d8ac5
}
/* use of attribute selector */
h2[lang~="en-us"]{
    color: black
}

/* use of selector list */
h2, h3 {
    text-decoration: underline;
}

/* Pseudo-class Selector */
li:hover{
    color:#b0c6da;
}
/* Descendant Combinator */
boxShortAuto legend {
    color: rgb(131,164,191);
}
/* Use of class selector */
.longLeft{
    height: fit-content;

    grid-area: main;
    text-align: left;
    display: block;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 1px;
    margin-right: 10px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 15px;

    border-style:solid;
    border-color: hsl(216, 29%, 51%);
    border-radius: 4.5mm;
    border-width: .01in;
    display: block;
}
/*same as above just center alligned*/
.longCenter{
    height: fit-content;

    grid-area: main;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 1px;
    margin-right: 10px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    border-style: solid;
    border-color: hsl(216, 29%, 51%);
    border-radius: 4mm;
    border-width: .01in;
    display: block;
}
button:active{
    background-color: red;
    color:rgb(255, 255, 255);
}
.body{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}

/* use of Descendant Combinator */
shortAuto legend {
    text-decoration: underline;
    color: rgb(92, 140, 170);
}
/* use of Child Combinator */
shortAuto > h3 {
    color: #6d8ac5;
    align-self: center;
    text-decoration:underline;
    flex-basis:content;
    flex-grow: 10;
}
/* use of General sibling combinator */
short ~ short {
    background-color: rgba(108, 49, 61, 0.3);
}
/* use of Adjacent sibling combinator */
ul + details {
    background-color: rgba(248, 182, 0, 0.8);
}
/* use of Combining Two Selectors */
ul.ems{
    font-size: x-large;
    text-align: left;
}

/* screen width */

.audioSection{
    text-align: center;
    list-style-position: inside;
}

video {
    display: block;
    margin: auto;
}
img {
    display: block;
    margin: auto;
}
/* use of ID Selector for polls */
#poll {
    background-color: rgb(247, 204, 151);
}
/* use of universal selector for global font */
* {
    font-family: "Merriweather", sans-serif;
}

short{
    max-width: fit-content;
    min-width: none;
    text-align: center;
}
shortAuto{
    grid-area: header;
    max-width: fit-content;
    min-width: none;
    max-height: fit-content;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: .1cm none rgb(222, 222, 222);
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

a:link{
    color:#0000ff
}
