/* Center allignment */
h1 {
    text-align: center;
    position: static;
}
/* use of element selector and hex code color */
h2 {
    color: #6B9
}

h2[lang~="en-us"]{
    color: black
}
/* Use of class selector */
.long{
    height: fit-content;

    grid-area: main;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 1px;
    margin-right: 10px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    border-style: solid;
    border-color: rgb(90, 44, 197);
    border-radius: 4mm;
    border-width: .01in;
    display: block;
}
button:active{
    background-color: red;
    color:rgb(211, 183, 215);
}
.body{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}
/* screen width */
@media screen and (max-width: 23cm) {
    header, .boxLong{
        background-color: rgb(211, 183, 215);
    }
}

.audioSection{
    text-align: center;
    list-style-position: inside;
}

video {
    display: block;
    margin: auto;
}
img {
    display: block;
    margin: auto;
}
/* use of ID Selector for polls */
#poll {
    background-color: rgb(241, 219, 192);
}
/* use of universal selector for global font */
* {
    font-family: "Merriweather", sans-serif;
}

short{
    max-width: fit-content;
    min-width: none;
    text-align: center;

}
shortAuto{
    grid-area: header;
    max-width: fit-content;
    min-width: none;
    max-height: fit-content;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: .1cm none rgb(222, 222, 222);
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

a:link{
    color:#0000ff
}
